<section id="addstripe">
<div class="container">
  <div class="row d-flex align-items-center">
    <div class="col text-center">
      <p> <strong>Ramadan Offer</strong> - get <strong>30% Off</strong> On Every App Development</p>
    </div>
    <div class="col-auto">
      <button class="btn btn-arrow">Get offer <i class="fa fa-arrow-right"></i></button>
    </div>
  </div>
</div>
</section>

<section id="top-fixednav">
 <div class="container-fluid">
   <div class="row">
     <div class="col-md-3 p-0">
      <a class="navbar-brand" href="#"> <img src="assets/image/logo.png" alt=""> 
      <p>#1 App Development Company</p>
      </a>
     </div>
     <div class="col-md-9 main-nav">
       <div class="row">
         <div class="col-md-12 hidden-md-down nav-contact d-none d-md-block">
           <ul>
             <li><a href=""><i class="fa fa-envelope"></i> enquiry@fluper.com</a></li>
             <li><a href=""> hr@fluper.com</a></li>
             <li><a href="tel: +91-9599551432"><i class="fa fa-phone"></i> +91-959-955-1432 </a></li>
             <li><a class="btn btn-request">Request Quote</a></li>
           </ul>

         </div>
         <div class="col-sm-12">
          <nav class="navbar navbar-expand-md top-nav">  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link">Fluper <i class="fa fa-caret-down"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Services <i class="fa fa-caret-down"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Hire Us <i class="fa fa-caret-down"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active">Top App</a>
                </li>    
                <li class="nav-item">
                  <a class="nav-link">Work <i class="fa fa-caret-down"></i></a>
                </li>  
                <li class="nav-item">
                  <a class="nav-link">Resources <i class="fa fa-caret-down"></i></a>
                </li>  
              </ul>
            </div>  
          </nav>
         </div>
       </div>

     </div>
   </div>
 </div>
</section>

<section id="home-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <h1>  
          <span class="larger-text">Bringing</span>  
          <span class="larger-text theme-color">Fluidity</span> in Performance          
        </h1>
        <p>To Transform Ideas Into Experience</p>
        <div class="benefits">
          <ul>
            <li>
              <div class="benefit-option">
                <h4>1 Month</h4>
                <span>
                  Guaranteed Revenue
                </span>
              </div>
            </li>
            <li>
              <div class="benefit-option">
                <h4>2.5 Years</h4>
                <span>
                  "Zero Cost" App Support
                </span>
              </div>
            </li>
            <li>
              <div class="benefit-option">
                <h4>Real Time</h4>
                <span>
                  Real Time Coding
                </span>
              </div>
            </li>
            <li>
              <div class="benefit-option">
                <h4>App Support</h4>
                <span>
                  Live app tracking
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 d-none d-md-block">
        <img src="assets/image/mobile1.png" class="img-fluid">         
      </div>
    </div>
  </div>
</section>

<section id="section2">
  <div class="container">
    <div class="row">
      <div class="col-md-9 mainheading">
        <h3>All Set to Grow your </h3>
        <h3 class="theme-color">Business Globally?</h3>
        <p>Your Experts are Ready to Help You!</p>
        <div class="moving-arrow">
          <img src="assets/image/arrow.png" class="img-fluid" class="animate__animated tada">
        </div>
      </div>
      <div class="col-md-3 d-flex align-items-center">
        <button  class="btn btn-arrow">Get started <i class="fa fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
</section>